<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RYAccessAuthority.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7FDDFBC1D9E050100188701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7FDDFD51D9E050200188701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7FDDFE01D9E050200188701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
